DATABASE_URL="postgresql://neondb_owner:YOUR_NEW_NEON_PASSWORD@ep-old-thunder-atge89o9.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="TaskTracker@2026Secret"
JWT_EXPIRES_IN="24h"
PORT=3001
NODE_ENV=production
